.txt-area {
 margin-left: 8vh;
}

.txt-area-inner{
 span{
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

 }
}
.btn-area{
  margin-top: 4vh;
}